[module]
  [module.hugoVersion]
    extended = true
    min = "0.146.0"
    max = ""
  [[module.mounts]]
    source = "dist/mermaid.js"
    target = "assets/js/modules/mermaid/mermaid.js"
  [[module.mounts]]
    source = "dist/layout-elk"
    target = "static/js/mermaid-layout-elk"
  [[module.mounts]]
    source = 'assets'
    target = 'assets'
  [[module.mounts]]
    source = 'data'
    target = 'data'
  [[module.mounts]]
    source = 'layouts'
    target = 'layouts'
  [[module.mounts]]
    source = 'static'
    target = 'static'
  [[module.imports]]
    path = "github.com/gethinode/mod-fontawesome/v3"
  [[module.imports]]
    path = "github.com/gethinode/mod-utils/v5"
