<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, initial-scale=1.0">
  <title>{{ with .Title }}{{ printf "%s | " . }}{{ end }}{{ site.Title }}</title>
  {{ partial "head/stylesheet.html" -}}
</head>
<body>
  Settings:
  <ul>
    <li>elk = {{ site.Params.modules.mermaid.elk | default false }}</li>
    <li>look = {{ site.Params.modules.mermaid.look | default "classic" }}</li>
    <li>layout = {{ site.Params.modules.mermaid.layout | default "dagre" }}</li>
  </ul>

  {{ block "main" . }}
  {{ end }}
</body>
{{- partial "assets/symbols.html" . -}}
{{- partial "footer/scripts.html" (dict "page" .) -}}
{{- partial "footer/scripts.html" (dict "page" . "match" "js/**.mjs" "type" "module" "template" true "filename" "js/mermaid.bundle.js") -}}
</html>