{{/* 
    Copyright © 2025 The Hinode Team / Mark Dumay. All rights reserved.
    Use of this source code is governed by The MIT License (MIT) that can be found in the LICENSE file.
    Visit gethinode.com/license for more details.
*/}}

{{ $error := false }}

{{/* Validate and initialize arguments */}}
{{ $result := partial "utilities/Args.html" (dict "structure" "mermaid" "args" .Params "named" .IsNamedParams "group" "shortcode" "strict" false) }}
{{ $args := $result.args }}
{{ if or $result.err $result.warnmsg }}
    {{ partial (cond $result.err "utilities/LogErr.html" "utilities/LogWarn.html") (dict
        "partial"  "shortcodes/mermaid.html"
        "warnid"   "warn-invalid-arguments"
        "msg"      "Invalid arguments"
        "details"  ($result.errmsg | append $result.warnmsg)
        "file"     .Page.File
        "position" .Position
    )}}
    {{ $error = $result.err }}
{{ end }}

{{/* Main code */}}
{{ if not $error }}
    {{ partial "assets/mermaid.html" (dict "page" .Page "raw" .Inner "controls" $args.controls "align" $args.align "fullscreen" $args.fullscreen) }}
{{ end }}
